*{
box-sizing:border-box;
font-family:Arial, sans-serif;
}



.navbar{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 5px;
margin: 0;
}


.navbar h2{
    color: var(--primary);
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links a{
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
}

body{

min-height:100vh;
display:flex;
flex-direction: column;
align-items:center;

background:
linear-gradient(135deg,#111,#555);
padding-top: 5px;

}


.phone{
width: 90%;
max-width: 420px;
padding: 30px;
border-radius: 24px;
}


.container{

margin-top:40px;

}



h2{

text-align:center;

}



p{

text-align:center;
color:#666;

}



form{

margin-top:25px;

}



input,select{

width:100%;

padding:14px;

margin:10px 0;

border-radius:12px;

border:1px solid #ccc;

outline:none;

}



.password-box{

position:relative;

}



.password-box span{

position:absolute;

right:15px;

top:23px;

cursor:pointer;

}



button{

width:100%;

padding:14px;

border:none;

border-radius:20px;

background:#222;

color:white;

font-size:16px;

cursor:pointer;

}



.terms{

font-size:13px;

display:flex;

gap:8px;

align-items:center;

}



.terms input{

width:auto;

}



.login{

margin-top:20px;

}
.login a{
    text-decoration: none;
    color: black;
}



#loader{

display:none;

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:white;

align-items:center;
justify-content:center;

flex-direction:column;

}


.circle{

width:50px;
height:50px;

border:5px solid #ddd;

border-top:5px solid #222;

border-radius:50%;

animation:spin 1s linear infinite;

}



@keyframes spin{

to{

transform:rotate(360deg);

}

}


@media(max-width:768px)
{
    .hero h1
    {
        font-size: 28px;
    }
    .navbar{
        flex-direction: column;
        padding: 15px;
        
    }
.nav-links{
    gap: 10px;
   
}
.nav-links a{
    font-size: 16px;
    font-weight: 700;
}
.phone{
    width: 95%;
    padding: 20px;
}
}

